<main class="container mt-5">
  {{#if logged_in}}
    <form class="new-comment-form mb-3">
      <div class="mb-3">
        <label for="comment" class="form-label">New Order:</label>
      </div>
      <div class="text-center">
    <button type="submit" class="btn btn-primary">Order <i class="bi bi-arrow-up-square"></i></button>
    </div>
    </form>
    <div class="dashboard-background">
        <div class="col">
  <h2>Categories:</h2>
<div class="col-md-4 text-center">
     {{#each category}}
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-title text-center">
              <h3>{{category_name}}</h3>
            </h2>
          </div>
          <div class="card-body text-dark post-background">
            {{#each products}}
        <div class="product mb-3">
          <p><h5>Product Name: {{product_name}}</h5></p>
          <p><h6>Price:</h6> ${{price}}</p>
          <p><h6>Stock</h6> {{stock}}</p> {{#if (lt stock par)}} <p>LOW STOCK</p>{{/if}}{{#if (gt stock par)}} <p>OVERSTOCKED</p>{{/if}}
          <p><h6>Par:</h6> {{par}}</p>
        </div>
      {{/each}}
      </div>
    </div>
  {{/each}}
  {{/if}}
  </div>
  </div>
</main>

