<main class="container mt-5" style="position: relative; z-index: 1;">
  {{#if logged_in}}
    <div class="dashboard-background">
      <div class="row">
        {{#each category}}
          <div class="col-md-5 mb-3">
            <div class="card">
              <div class="card-header" style="background-color: lightskyblue">
                <h2 class="card-title" >
                  <h3>{{category_name}}</h3>
                </h2>
              </div>
              <div class="card-body text-dark post-background adjust-parent" >
                {{#each products}}
                  <div class="product mb-3" style="border: 1px solid lightblue; padding: 10px; background-color: lightskyblue">
                    <img src="{{image}}" alt="{{product_name}}" style="max-width: 50%; max-height: 100px; ">
                    <p><h5>{{product_name}}</h5>
                    <h6>Price: ${{price}} / {{unit}}</h6> 
                    <h6>Par: {{par}}</h6>
                    <h6>Stock: {{stock}} <br>
                    <br>
                      {{#if (lt stock par)}} <p style="color:red;"><i class="bi bi-exclamation-octagon"></i><b> LOW STOCK</b></p>{{/if}}
                      {{#if (gt stock par)}} <p style="color:rgb(199, 201, 74)"><i class="bi bi-exclamation-octagon-fill"></i><b> OVER PAR</b></p>{{/if}}
                      {{#if (eq stock par)}} <p style="color:rgb(0, 255, 13);"><i class="bi bi-check-circle-fill"></i><b> On Par</b></p>{{/if}}
                  </div>
    <div class="product" style="border: 1px solid #ccc; padding: 10px; background-color: rgb(139, 140, 141)"">
     <div class="mb-3">
        <label for="quantity" class="form-label">Stock:</label>
        <div class="input-group">
            <input type="number" id="quantity" min="-64" value="1" max="64" required style="width: 75px;" class="form-control">
            <button type="button" class="btn btn-primary adjust" data-product-id="{{id}}" data-key="stock">Adjust Stock</button>
        </div>
     </div>
     <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <div class="input-group">
            <input type="number" id="price" min="-64" value="{{price}}" max="64" required style="width: 75px;" class="form-control">
            <button type="button" class="btn btn-primary adjust" data-product-id="{{id}}" data-key="price">Adjust Price</button>
        </div>
     </div>
     <div class="mb-3">
        <label for="unit" class="form-label">Unit:</label>
        <div class="input-group">
            <input type="text" id="unit" min="-64" value="{{unit}}" max="64" required style="width: 75px;" class="form-control">
            <button type="button" class="btn btn-primary adjust" data-product-id="{{id}}" data-key="unit">Adjust Unit</button>
        </div>
     </div>
     <div class="mb-3">
        <label for="par" class="form-label">Par:</label>
        <div class="input-group">
            <input type="number" id="par" min="-64" value="{{par}}" max="64" required style="width: 75px;" class="form-control">
            <button type="button" class="btn btn-primary adjust" data-product-id="{{id}}" data-key="par">Adjust Par</button>
        </div>
     </div>

     <div class="text-end">
        <button type="button" class="btn btn-danger btn-sm mb-3 delete-product" data-product-id="{{id}}">Delete</button>
     </div>
    </div>
{{/each}}
</div>
</div>
</div>
{{/each}}
</div>
{{else}}
<div class="col-md-3 mb-3 text-center">
  <p>Please <a class="nav-link" href="/login">Login</a></p>
</div>
{{/if}}
</main>
